.contactContainer{
    padding-top: 50px;
    width: 100%;
    background-color: #57A5BB;
    padding-left: 0;
    min-height: 500px;
    padding-right: 0;
    overflow: hidden;
}

.spanText{
    color: black;
}