@font-face {
    font-family: 'Neuebold';
    src: url('../fonts/Neuebold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neueregular';
    src: url('../fonts/Neueregular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.exPageContainer{
    background-color:#DDDBC6;
}

.exContainer{
    background-color: #57A5BB;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.nameInput{
    margin-bottom: 7px;
}

.exFormHeading{
    font-family: 'Neuebold';
    font-size: 16px;
    font-weight: 700;
    font-weight: 700;
    color: #FFDB61;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
    text-align: center;

}
.explusIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E84325; /* Red background color */
    width: 22px; /* Size of the icon container */
    height: 22px;
    border-radius: 4px; /* Circular shape */
    color: black; /* White icon */
  }
  

.exForms input, .exForms textarea {
    background-color: #DDDBC6;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    border: 1px solid black; /* Input background color */

}

.exForms input::placeholder, .exForms textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #B0B0A7;
}

/* Ensure the text area placeholder gets the style */
.exForms textarea::placeholder {
    color: #B0B0A7;
}


  
.exForms textarea {
    height: 100px;
    border-radius: 0; /* Set textarea height */
  }
  
.exlabel {
    font-family: 'Neueregular';
    font-size: 13px;
    font-weight: 400;
    color: #DDDBC6;
}

@media (min-width: 363px) {
    .exContainer{
        max-width: 330px;
    }
}
@media (min-width: 399px) {
    .exContainer{
        max-width: 380px;
    }
}

@media (min-width: 576px) {
    .exContainer{
        max-width: 540px;
    }
    .edlabel {
        font-size: 18px;
    }
    .exForms input::placeholder, .exForms textarea::placeholder {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .exContainer{
        min-width: 720px;
    }
    .edlabel {
        font-size: 20px;
    }
    .exForms input::placeholder, .exForms textarea::placeholder {
        font-size: 16px;
    }
    .exFormHeading{
        font-size: 20px;
    }
    .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E84325; /* Red background color */
        width: 32px; /* Size of the icon container */
        height: 32px;
        border-radius: 8px; /* Circular shape */
        color: black; /* White icon */
      }
}

@media (min-width: 992px) {
    
  }

  @media (min-width: 1400px) {
    .exContainer{
        min-width: 920px;
    }
  }
  