@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Neuebold';
    src: url('../fonts/Neuebold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }


.fanfamswiperSlider {
    background-position: center;
    background-size: cover;
    width: 100%;
    cursor: pointer;
}


.fanfamswiperSlider .imageWrapper {
    position: relative;
    width: 100%; /* Ensures it covers the full width of its parent */
  }
  
  .ff-slider-image {
    width: 100%;
    display: block; /* Ensures the image takes the full width */
    border-radius: 5px;
  }
  
  .sliderImageTextContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    padding: 10px;
    color: white;
    padding: 0;
    padding-left: 5px;
  }
  
  .slideHeadText {
    font-family: 'Neuebold';
    font-size: 14px;
  }
  
  .slideDateText {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #7CEB9B;
    padding-bottom: 2px;
  }
@media (min-width: 576px) {
    .slideHeadText{
        font-size: 12px;
    }
    .slideDateText {
        font-size: 8px;
      }
    
 }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .slideHeadText{
        font-size: 13px;
    }
    .slideDateText {
        font-size: 9px;
      }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .slideHeadText{
        font-size: 12px;
    }
    .slideDateText {
        font-size: 10px;
      }
  }
  
  @media (min-width: 1200px) {
    .slideHeadText{
        font-size: 14px;
    }
    .slideDateText {
        font-size: 12px;
      }
  }
  
  /* Extra extra large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .fanfamswiperSlider {
       width: 90%;
   }
  }

