@font-face {
    font-family: 'Neuebold';
    src: url('../fonts/Neuebold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Neueregular';
    src: url('../fonts/Neueregular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

  
.guestAddressModal {
    border-radius: 0 !important;
    /* Added important to override any previous radius */
}

.guestAddressModal .modal-header,
.guestAddressModal .modal-body, 
.guestAddressModal .modal-footer{
    background-color: #57A5BB;
    padding: 20px;
    border-radius: 0 !important;
}



.guestmodalForm{
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 400px;
    overflow-x: hidden; /* Maximum height before scrolling */
}

.guestAddressModal .modal-header,
.guestAddressModal .modal-body,
.guestAddressModal .modal-dialog,
.guestAddressModal .modal-footer {
    border: none;
    border-radius: 0 !important; /* Added important */
}




.guestnewaddressButton{
    padding: 10px 50px;
    background-color: #E84325; /* Red background */
    color: #DDDBC6; /* Beige text */
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    font-family: "Neuebold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.guestlabel{
    font-family: "Neuebold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #DDDBC6;
}

.anaText{
    font-family: "Neuebold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #F4E003;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
}
.cdaText{
    font-family: "Neuebold", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #000;
}


.choosenCatIcon{
    width: 25px;
    height: 25px;
}

.choosenCatText{
    font-family: "Neuebold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.choosenCatInfo{
    font-family: "Neueregular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.selected-address {
    background-color: #57A5BB; /* Highlight selected address */
}

.guestAddressInput{
    border-radius: 0;
    font-family: "Neuebold", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    background-color: #DDDBC6;
    border: 1px solid black;
}

.ecButton{
    padding: 10px 20px;
    background-color: #DDDBC6; /* Red background */
    color: #E84325;/* Beige text */
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    font-family: "Neuebold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.esButton{
    background-color: #E84325;
    color: #DDDBC6;
}

@media (min-width: 768px) {
    .guestmodalForm::-webkit-scrollbar {
        width: 3px; /* Minimal width to keep it functional but less noticeable */
        background-color: transparent; /* Ensures scrollbar does not have a background */
    }
    
    .guestmodalForm::-webkit-scrollbar-thumb {
        background-color: #E84325; /* Same color as your proceed button but with transparency */
    }
  }