@font-face {
    font-family: 'Neuebold';
    src: url('../fonts/Neuebold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neueregular';
    src: url('../fonts/Neueregular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neuenormal';
    src: url('../fonts/Neuenormal.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}



.odrContainer{
    padding-top: 50px;
    width: 100%;
    background-color: #57A5BB;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    min-height: 1000px;
}



.eydText{
    font-family: 'Neuebold';
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.orderPageContainer{
    background-color:#57A5BB;
}

.orderContainer{
    background-color: #3EA66B;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.orderInformationContainer{
    background-color: #DDDBC6;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.odRow{
    border-bottom: 2px solid #000;
}

.nameInput{
    margin-bottom: 7px;
}

.pdFormHeading{
    font-family: 'Neuebold';
    font-size: 16px;
    font-weight: 700;
    color: #FFDB61;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 

}

.orderForms input, .orderForms textarea {
    background-color: #DDDBC6;
    border-radius: 0;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000; /* Input background color */
    border: 1px solid black;

}

.orderForms input::placeholder, .orderForms textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #B0B0A7;
}

/* Ensure the text area placeholder gets the style */
.orderForms textarea::placeholder {
    color: #B0B0A7;
}

.orderInfoText{
    font-family: 'Neueregular';
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.spanInfoText{
    font-family: 'Neuenormal';
    font-size: 14px;
}

.orderForms textarea {
    height: 100px;
    border-radius: 0; /* Set textarea height */
}
  
.orderlabel {
    font-family: 'Neueregular';
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}

.feedbackInputText{
    font-family: 'Neueregular';
    font-size: 10px;
    font-weight: 400;
    color: #000000;
}

.orderReviewButton{
    padding: 10px 30px;
    background-color: #E84325; /* Red background */
    color: #DDDBC6; /* Beige text */
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    font-family: "Neuebold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.pcName{
    font-family: 'Neuenormal';
    font-size: 14px;
    font-weight: 700;
    color: #000000;  
}

.pcSizeQty{
    font-family: 'Neuenormal';
    font-size: 12px;
    font-weight: 700;
    color: #000000;  
}

.pcPrice{
    font-family: 'Neuebold';
    font-size: 14px;
    font-weight: 700;
    color: #000000;  
}

.orderreturnButton {
    padding: 10px 30px;
    background-color: #E84325; /* Red background */
    color: #DDDBC6; /* Beige text */
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    font-family: "Neuebold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.formal-text{
    font-family: "Neuebold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

@media (min-width: 363px) {
    .orderContainer{
        max-width: 330px;
    }
    .orderInfoText{
        font-size: 14px;
    }
}
@media (min-width: 399px) {
    .orderContainer, .orderInformationContainer{
        max-width: 380px;
    }
    .feedbackInputText{
        font-size: 12px;
    }
    .orderInfoText{
        font-size: 14px;
    }
    .pcName{
        font-size: 16px;
    }
    
    .pcSizeQty{
        font-size: 14px;
    }
    
    .pcPrice{
        font-size: 16px;
    }
    .orderInfoText{
        font-size: 16px;
    }

}

@media (min-width: 576px) {
    .orderContainer, .orderInformationContainer{
        max-width: 540px;
    }
    .orderlabel {
        font-size: 18px;
    }
    .orderForms input::placeholder, .orderForms textarea::placeholder {
        font-size: 14px;
    }
    .feedbackInputText{
        font-size: 14px;
    }
    .eydText{
        font-size: 18px;
    }
    .pcName{
        font-size: 18px;
    }
    
    .pcSizeQty{
        font-size: 16px;
    }
    
    .pcPrice{
        font-size: 18px;
    }
    .orderInfoText{
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .orderContainer, .orderInformationContainer{
        min-width: 720px;
    }
    .orderlabel {
        font-size: 20px;
    }
    .orderForms input::placeholder, .orderForms textarea::placeholder {
        font-size: 16px;
    }
    .pdFormHeading{
        font-size: 20px;
    }
    .eydText{
        font-size: 22px;
    }
    .pcName{
        font-size: 20px;
    }
    
    .pcSizeQty{
        font-size: 18px;
    }
    
    .pcPrice{
        font-size: 20px;
    }
    .orderInfoText{
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .orderContainer, .orderInformationContainer{
        min-width: 780px;
    }
    .eydText{
        font-size: 28px;
    }
    .pcName{
        font-size: 22px;
    }
    
    .pcSizeQty{
        font-size: 20px;
    }
    
    .pcPrice{
        font-size: 22px;
    }
  }

  @media (min-width: 1400px) {
    .orderContainer, .orderInformationContainer{
        min-width: 920px;
    }
    .eydText{
        font-size: 32px;
    }
    .pcName{
        font-size: 24px;
    }
    
    .pcSizeQty{
        font-size: 22px;
    }
    
    .pcPrice{
        font-size: 24px;
    }
  }