
.sfEpisodeContainer{
    padding-top: 50px;
    width: 100%;
    background-color: #57A5BB;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    min-height: 1000px;
}


.sfText{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #F5BE49;
    margin: 0;
    padding: 0;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 

}