@font-face {
    font-family: 'Neuebold';
    src: url('../fonts/Neuebold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neueregular';
    src: url('../fonts/Neueregular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}



.submitFormContainer{
    background-color: #3EA66B;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 298px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitRowContainer{
    justify-content: flex-end;
}

.nameInput{
    margin-bottom: 7px;
}

.submitFormHeading{
    font-family: 'Neuebold';
    font-size: 16px;
    font-weight: 700;
    font-weight: 700;
    color: #FFDB61;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
    text-align: center;

}
.submitEditIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E84325; /* Red background color */
    width: 24px; /* Size of the icon container */
    height: 24px;
    border-radius: 4px; /* Circular shape */
    color: black; /* White icon */
  }
  
.sbTable {
    width: 100%; /* Full width of the container */
    background-color: transparent; /* Transparent background for the table */
    color: white; /* White text for visibility */
}

.sbTable td, .sbTable th {
    background-color: transparent; /* Transparent background for table cells */
    border: 2px solid #DDDBC6; /* White borders for cells */
}

.sbTableLabel {
    font-family: 'Neuebold';
    font-weight: 400;
    font-size: 12px;
    color: #DDDBC6 !important;
}

/* Add global styles for the table text alignment */
.sbValue {
    font-family: 'Neuebold';
    font-weight: 400;
    font-size: 9px;
    color: #DDDBC6 !important;
    padding-left: 14px !important;
}



@media (min-width: 363px) {
    .submitFormContainer{
        max-width: 350px;
    }
    .sbValue {
        font-size: 10px;
    }
}
@media (min-width: 399px) {
    .submitFormContainer{
        max-width: 380px;
    }
    .sbTableLabel {
        font-size: 11px;
    }
    .sbValue {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .submitFormContainer{
        max-width: 540px;
    }
    .sbTableLabel {
        font-size: 16px;
    }
    .sbValue {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .submitFormContainer{
        min-width: 720px;
    }
    .submitFormHeading{
        font-size: 20px;
    }
    .submitEditIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E84325; /* Red background color */
        width: 32px; /* Size of the icon container */
        height: 32px;
        border-radius: 8px; /* Circular shape */
        color: black; /* White icon */
    }
    .sbTableLabel {
        font-size: 18px;
    }
    .sbValue {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    
  }

  @media (min-width: 1400px) {
    .submitFormContainer{
        min-width: 920px;
    }
  }
  